.parallax-scroll-container {
  height: 40rem;
  overflow-y: auto;
  width: 100%;
  display: flex;
  align-items: start;
}

.parallax-scroll-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 10rem 2.5rem;
}

@media (min-width: 768px) {
  .parallax-scroll-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .parallax-scroll-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.parallax-scroll-column {
  display: grid;
  gap: 2.5rem;
}

.parallax-scroll-image {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  object-position: left top;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0;
}
